---
layout: archive
title: "Alumni"
permalink: /alumni/
author_profile: true
---

{% include base_path %}


{% for post in site.team %}
  {% include archive-single.html %}
{% endfor %}

<h2>Past staff</h2>
<ul>
    <li>Dr Sumudu Gangoda (2020, 2021)</li>
    <li>Paulina Szwaja (2020)</li>
    <li>Dr Bart Spronck (2016-2017)</li>
    <li>Dr Martin Turner (2012-2014)</li>
</ul>


<h2>Doctor of Philosophy (PhD)</h2>
<ul>
    <li>Dr Kingsley Duru (2021)</li>
    <li>Dr Mahdieh Rezaeian (2019)</li>
    <li>Dr Alireza Rezvani Sharif (2018)</li>
    <li>Dr Sumudu Gangoda (2018)</li>
    <li>Dr Djahida Bedja (2016)</li>
    <li>Dr Parisa Kouchaki (2016)</li>
    <li>Dr Isabella Tan (2016)</li>
    <li>Dr Kayla Viegas (2014)</li>
    <li>Dr George Lindesay (2013)</li>
    <li>Dr Azadeh Farnoush (2012)</li>
    <li>Dr Mojtaba Golzan (2012)</li>
    <li>Dr Keith Wan-Kee Ng (2011)</li>
</ul>
From Blood Pressure and Vascular Function Laboratory, but not formally under Mark Butlin's supervision:
<ul>
    <li>Dr Audrey Adji (PhD, 2016)</li>
    <li>Dr Mi Ok Kim (PhD, 2015)</li>
    <li>Dr Francesca Giudici (PhD, 2014)</li>
</ul>

<h2>Masters of Research</h2>
<ul>
    <li>Saja Alqasas (2021)</li>
    <li>James Cox (2019)</li>
    <li>Sumudu Gangoda (2018)</li>
    <li>Julio Antonio Lara Hernández (2018)</li>
    <li>Fatemeh Shirbani (2016)</li>
    <li>Aarathi Venunadan (2015)</li>
    <li>Harish Ramachandran (2015)</li>
</ul>

<h2>Undergraduate honours projects</h2>
<ul>
    <li>Ayman Al Qahtani (2014)</li>
    <li>George Lindesay (2010)</li>
</ul>

<h2>Research rotation (undergraduate and postgraduate) experience</h2>
<p>Ahmad Al-Qadi (2019); Saja Alqasas (2020); Veronica Bakhoum (2019); Sean Barton; James Cox; Joyce El Haddad; Angela Godinez (2018); Benjamin Grubba (2020); Taeyoon Lee (2019); Kyrollos Louka (2020); Olivia Mitchell (2020); Aidan Moriarty (2021S1/S2); Sarah Ozer (2020); Emma Rhall (2020); Aadil Syed (2020); Monique Van Acquoy; Arran Weir (2019).</p>

<h2>Professional and Community Engagement (PACE) projects</h2>
<h3>In collaboration with Fledge Innovation Labs and with Cardiex AtCor Medical</h3>
<p>>Amelia Smart (2021), Jamie Barnacoat (2021), Chloe Newman (2021), Joshua Baker (2021), Might Nasrabadi (2021), Pranita Kumar (2021), Ravindu Kahawita (2021), Rawan Hajder Mhawe (2021), Thomas Courtney-Stubbs (2021), Tom Murphy (2021); Annica Roberts (2021); Aleksia Grbic (2021); Dylan Lim (2021); Hannah Sexton (2021); Jack Roser (2021); Joseph Iannella (2021); Olivia Otto (2021); Taylah Scutts (2021); Hannah Belikoff (2020); Maggie Chan (2020); Benjamin Cook (2020); Jack Davenport (2020); Maddison Gardoni (2020); Gisele Bentley (2020); Samuel Hamilton (2020); Joanne Juma'a (2020); Jonathan Lewis (2020); Jeong Lim (2020); Brock McMillan (2020); Olivia Mitchell (2020); Elicia Petschack (2020); Emma Rhall (2020); Alireza Sadegholvad (2020); Andrew Turner (2020).</p>

<h3>FMHHS Bachelor Clinical Science projects</h3>
<p>Afra Ishmam (2021), Caitlin Apcar (2021), Himradri Sagara (2021), Jackson Barkway (2021), Mark Achmar (2021), Matthew Zhang (2021), Nicholas Ryan (2021), Priscilla Chu (2021), Victor Hoang (2021), Xin Zhang (2021).</p>
 