---
layout: archive
title: "Team"
permalink: /team/
author_profile: true
---

{% include base_path %}


{% for post in site.team %}
  {% include archive-single.html %}
{% endfor %}

<table>
  <tr style="vertical-align:top">
    <td width="25%" style="vertical-align:top">
        <a href="https://researchers.mq.edu.au/en/persons/mark-butlin"><img src="../images/people_mark_butlin_gs.jpg" width="100%" alt="Photo of Mark Butlin.">
        <h2>Dr Mark Butlin<br>(PhD, BE, SFHEA)</h2></a>
        <h3>Research Head<br>Macquarie Medical School Co-director of Education<br>Macquarie Medical School Academic Integrity Officer</h3>
        <p><a href="https://pubmed.ncbi.nlm.nih.gov/?term=(butlin%2C%20M%5BAuthor%5D)%20AND%20((%222005%2F01%2F01%22%5BDate%20-%20Entry%5D%20%3A%20%223000%22%5BDate%20-%20Entry%5D))&sort=date&timeline=expanded">Publications</a></p>
    </td>
    <td width="25%" style="vertical-align:top">
      <a href="https://researchers.mq.edu.au/en/persons/isabella-tan"><img src="../images/people_isabella_tan_gs.jpg" width="100%"  alt="Photo of Isabella Tan.">
      <h2>Dr Isabella Tan<br>(PhD, BE, FHEA)</h2></a>
      <h3>CardieX AtCor Medical sponsored Postdoctoral Research Fellow</h3>
      <p><a href="https://researchers.mq.edu.au/en/persons/isabella-tan/publications/">Publications</a></p>
    </td>
    <td width="25%" style="vertical-align:top">
      <a href="https://researchers.mq.edu.au/en/persons/karen-peebles"><img src="../images/people_karen_peebles_gs.jpg" width="100%"  alt="Photo of Karen Peebles.">
      <h2>Dr Karen Peebles<br>(PhD, SFHEA)</h2></a>
      <h3></h3>
      <p><a href="https://researchers.mq.edu.au/en/persons/karen-peebles/publications/">Publications</a></p>
    </td>
    <td width="25%" style="vertical-align:top">
      <a href="https://researchers.mq.edu.au/en/persons/alberto-avolio"><img src="../images/people_alberto_avolio_gs.jpg" width="100%"  alt="Photo of Alberto Avolio.">
      <h2>Professor Emeritus Alberto Avolio<br>(PhD, BE)</h2></a>
      <h3>Research Advisor</h3>
      <p><a href="https://researchers.mq.edu.au/en/persons/alberto-avolio/publications/">Publications</a></p>
    </td>
</tr>
<tr style="vertical-align:top">
    <td width="25%" style="vertical-align:top">
      <a href="https://researchers.mq.edu.au/en/persons/edward-barin"><img src="../images/people_edward_barin_gs.jpg" width="100%"  alt="Photo of Edward Barin.">
      <h2>Clinical Associate Professor Edward Barin<br>(FRACP)</h2></a>
      <h3>Clinical Advisor</h3>
      <p><a href="https://researchers.mq.edu.au/en/persons/edward-barin/publications/">Publications</a></p>
    </td>
    <td width="25%" style="vertical-align:top">
      <a href="https://researchers.mq.edu.au/en/persons/avadhanam-bhargava-rama-lakshmi"><img src="../images/people_bhargavi_veppala_gs.jpg" width="100%"  alt="Photo of Bhargava Veppala.">
      <h2>Bhargava Veppala</h2></a>
      <h3>PhD candidate</h3>
      <blockquote>Interaction of Cellular Processes and the Extracellular Matrix in Relation to Mechanical Properties of Blood Vessels</blockquote></td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_fatemeh_shirbani_gs.jpg" width="100%"  alt="Photo of Fatemeh Shirbani.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/fatemeh-shirbani">Fatemeh Shirbani</h2></a>
      <h3>PhD candidate</h3>
      <blockquote>Measurement of blood pressure by imaged-based photoplethysmography</blockquote></td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_gisele_bentley_gs.jpg" width="100%"  alt="Photo of Gisele Bentley.">
      <h2>Gisele Bentley</h2>
      <h3>Masters of Research candidate</h3>
      <blockquote>Comparison of active stand and tilt table testing for diagnosis of orthostatic hypotension and tachycardia syndrome</blockquote>
    </td>
</tr>
<tr style="vertical-align:top">
    <td width="25%" style="vertical-align:top">
      <a href="https://researchers.mq.edu.au/en/persons/james-cox-2"><img src="../images/people_james_cox_gs.jpg" width="100%"  alt="Photo of James Cox.">
      <h2>James Cox</h2></a>
      <h3>PhD candidate, scholarship part sponsored by Cardiex AtCor Medical</h3>
      <blockquote>An investigation of non-invasive and cuffless approaches for the estimation of blood pressure</blockquote></td>
    <td width="25%" style="vertical-align:top">
      <a href="https://researchers.mq.edu.au/en/persons/kathryn-busch"><img src="../images/people_kathryn_busch_gs.jpg" width="100%"  alt="Photo of Kathryn Busch.">
      <h2>Kathryn Busch</h2></a>
      <h3>PhD candidate</h3>
      <blockquote>The utilisation of transcranial Doppler and non-invasive pressure measurement to assess cerebrovascular haemodynamic alterations during arterio-venous malformation</blockquote>
    </td>
    <td width="25%" style="vertical-align:top">
      <a href="https://researchers.mq.edu.au/en/persons/kyrollos-louka"><img src="../images/peopl_kyrollos_louka_gs.jpg" width="100%"  alt="Photo of Kyrollos Louka.">
      <h2>Kyrollos Louka</h2></a>
      <h3>Masters of Research candidate</h3>
      <blockquote>Personalised multi-point calibration curves obtained by controlled hydrostatic changes of the upper limb for cuffless estimation of blood pressure from pulse transit time</blockquote>
    </td>
    <td width="25%" style="vertical-align:top">
      <a href="https://researchers.mq.edu.au/en/persons/stephen-woodford"><img src="../images/people_stephen_woodford_gs.jpg" width="100%"  alt="Photo of Stephen Woordford.">
      <h2>Dr Stephen Woodford</h2></a>
      <h3>PhD candidate</h3>
      <blockquote>The pressure field defined by stroke volume and systemic elastance as a novel paradigm for perfusion management of the circulatory system</blockquote></td>
</tr>
<tr style="vertical-align:top">
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_vaidehi_desai_gs.jpg" width="100%"  alt="Photo of Vaidehi Desai.">
      <h2>Vaidehi Desai</h2>
      <h3>Masters of Research candidate</h3>
      <blockquote>Non-invasive baroreceptor function measurement in humans and the interaction with large artery stiffness</blockquote>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Madison Kane.">
      <h2>Madison Kane</h2>
      <h3>Masters of Research Research Rotation</h3>
      <blockquote>Comparison of episodic and continuous blood pressure and heart rate recording in orthostatic intolerance testing</blockquote>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_farhan_ahmed_gs.jpg" width="100%"  alt="Photo of Farhan Ahmed.">
      <h2>Farhan Ahmed</h2>
      <h3>Bachelor of Clinical Science Research Rotation</h3>
      <blockquote>Effect of exercise on non-invasively assessed baroreceptor function</blockquote></td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Janani Viswanathan.">
      <h2>Janani Viswanathan</h2>
      <h3>Bachelor of Clinical Science Research Rotation</h3>
      <blockquote>Cardiovascular response to induced bilateral leg ischaemia in the upright position</blockquote></td>
</tr>
</table>

<h2>Honorary appointments</h2>
<table>
  <tr>
    <td width="20%" style="vertical-align:top">
      <a href="https://www.sydney.edu.au/s/search.html?collection=Usyd&query=anastasia+mihailidou&f.Content+type%7Cx="><img src="../images/people_anastasia_mihailidou_gs.jpg" width="100%"  alt="Photo of Anastasia Mihailidou.">
        <h2>Dr Anastasia Mihailidou</h2></a>
        <h3>Kolling Institute, Royal North Shore Hospital, Sydney.</h3>
      </td>
      <td width="20%" style="vertical-align:top">
        <a href="https://www.victorchang.edu.au/about-us/our-scientists/dr-audrey-adji"><img src="../images/people_audrey_adji_gs.jpg" width="100%"  alt="Photo of Audrey Adji.">
        <h2>Dr Audrey Adji</h2></a>
        <h3>Victor Chang Cardiac Research Institute, Sydney.</h3>
      </td>
    <td width="20%" style="vertical-align:top">
      <a href="https://cris.maastrichtuniversity.nl/en/persons/bart-spronck"><img src="../images/people_bart_spronck_gs.jpg" width="100%"  alt="Photo of Bart Spronck.">
      <h2>Assistant Professor Bart Spronck</h2></a>
      <h3>Maastricht University.</h3>
    </td>
      <td width="20%" style="vertical-align:top">
      <a href="https://www.researchgate.net/scientific-contributions/Junli-Zuo-2013757643"><img src="../images/people_icon.png" width="100%"  alt="Photo of Junli Zou.">
      <h2>Dr Junli Zuo</h2></a>
      <h3>Ruijin Hospital, China.</h3>
    </td>
    <td width="20%" style="vertical-align:top">
    </td>
  </tr>
</table>

<h1>Blood Pressure and Vascular Function Laboratory Alumni</h1>

<h2>Past staff</h2>
<table>
  <tr>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_sumudu_gangoda_gs.jpg" width="100%"  alt="Photo of Sumudu Gangoda.">
      <h2>Dr Sumudu Gangoda</h2>
      <h3>2020, 2021</h3>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Paulina Szwaja.">
      <h2>Paulina Szwaja</h2>
      <h3>2020</h3>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_bart_spronck_gs.jpg" width="100%"  alt="Photo of Bart Spronck.">
      <h2>Dr Bart Spronck</h2>
      <h3>2016-2017</h3>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_martin_turner_gs.jpg" width="100%"  alt="Photo of Bart Spronck.">
      <h2>Dr Martin Turner</h2>
      <h3>2012-2014</h3>
    </td>
    <td width="16%" style="vertical-align:top">
    </td>
    <td width="16%" style="vertical-align:top">
    </td>
  </tr>
</table>

<h2>Doctor of Philosophy (PhD) graduates</h2>
<table>
  <tr>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_kingsley_duru.jpg" width="100%"  alt="Photo of Kingsley Duru.">
      <h2>Dr Kingsley Duru</h2>
      <h3>2021</h3>
      <blockquote>Synergistic effect of isoflavones and Inonotus obliquus (chaga) extract on streptozotocin induced type II diabetes rats</blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_mahdieh_rezaeian_gs.jpg" width="100%"  alt="Photo of Mahdieh Rezaeian.">
      <h2>Dr Mahdieh Rezaeian</h2>
      <h3>2019</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1282087">Retinal dynamic vascular biomarkers of arterial stiffness</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_alireza_rezvani_sharif_gs.jpg" width="100%"  alt="Photo of Alireza Rezvani Sharif.">
      <h2>Dr Alireza Rezvani Sharif</h2>
      <h3>2018</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1281983">Biomechanical characterization of the remodeling of atherosclerotic arteries and plaque rupture</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_sumudu_gangoda_gs.jpg" width="100%"  alt="Photo of Sumudu Gangoda.">
      <h2>Dr Sumudu Gangoda</h2>
      <h3>2018</h3>
      <blockquote><a href="https://multisearch.mq.edu.au/permalink/61MACQUARIE_INST/1c87tk9/alma99244683909002171">Cyclic stretch of brain microvascular endothelial cells and regulation of amyloid processing and expression: evidence for contribution of vascular pulsatility in Alzheimer's disease</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_djahida_bedja_gs.jpg" width="100%"  alt="Photo of Djahida Bedja.">
      <h2>Dr Djahida Bedja</h2>
      <h3>2016</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1276742">Effect of inhibition of glycosphingolipid synthesis on vascular and cardiac function: a novel therapeutic strategy</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_audrey_adji1_gs.jpg" width="100%"  alt="Photo of Audrey Adji.">
      <h2>Dr Audrey Adji</h2>
      <h3>2016</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1074250">Non-invasive characterisation of age-related changes in ascending aortic blood pressure and blood flow: from old concept to novel approach</a></blockquote>
    </td>
  </tr><tr>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_isabella_tan1_gs.jpg" width="100%"  alt="Photo of Isabella Tan.">
      <h2>Dr Isabella Tan</h2>
      <h3>2016</h3>
      <blockquote><a href="https://multisearch.mq.edu.au/permalink/61MACQUARIE_INST/7h5qs5/alma99244542406302171">Effects of heart rate on arterial stiffness</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_parisa_kouchaki_gs.jpg" width="100%"  alt="Photo of Parisa Kouchaki.">
      <h2>Dr Parisa Kouchaki</h2>
      <h3>2016</h3>
      <blockquote><a href="https://multisearch.mq.edu.au/permalink/61MACQUARIE_INST/1c87tk9/alma99244582710302171">Effects of baroreflex activation therapy on vascular hemodynamics: from experimental investigation to patient treatment</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_miok_kim_gs.jpg" width="100%"  alt="Photo of Mi Ok Kim.">
      <h2>Dr Mi Ok Kim</h2>
      <h3>2015</h3>
      <blockquote><a href="https://multisearch.mq.edu.au/permalink/61MACQUARIE_INST/1c87tk9/alma99244381110902171">Obligatory role of central aortic blood pressure in pulsatile cerebral hemodynamics</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_francesca_giudici_gs.jpg" width="100%"  alt="Photo of Francesca Giudici.">
      <h2>Dr Francesca Giudici</h2>
      <h3>2014</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1274233">The aortic wrap: an experimental and computational investigation of a device-based method for reduction of arterial pressure
Related</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_kayla_viegas_gs.jpg" width="100%"  alt="Photo of Kayla Viegas.">
      <h2>Dr Kayla Viegas</h2>
      <h3>2014</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1066509">The use of genetically modified mouse models for investigations of mechanisms of arterial stiffness</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_george_lindesay_gs.jpg" width="100%"  alt="Photo of George Lindesay.">
      <h2>Dr George Lindesay</h2>
      <h3>2013</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1137629">Effects of sympathetic nerve activity on the stiffness of conduit arteries</a></blockquote>
    </td>
  </tr><tr>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_azadeh_farnoush_gs.jpg" width="100%"  alt="Photo of Azadeh Farnoush.">
      <h2>Dr Azadeh Farnoush</h2>
      <h3>2012</h3>
      <blockquote><a href="https://multisearch.mq.edu.au/permalink/61MACQUARIE_INST/1c87tk9/alma99193214910802171">Morphological assessment of bifurcation cerebral aneurysms using computational fluid dynamic analysis</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_mojtaba_golzan_gs.jpg" width="100%"  alt="Photo of Mojtaba Golzan.">
      <h2>Dr Mojtaba Golzan</h2>
      <h3>2012</h3>
      <blockquote<a href="https://multisearch.mq.edu.au/permalink/61MACQUARIE_INST/1c87tk9/alma99193214310802171">Analysis of pulsatile characteristics of the retinal vasculature and association with cerebrospinal fluid pressure</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_wendy_liu_gs.jpg" width="100%"  alt="Photo of Wendy Liu.">
      <h2>Dr Wendy Liu</h2>
      <h3>2012</h3>
      <blockquote>Investigation of arterial function affected by inflammation induced by ionizing radiation.</blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_keith_ng_gs.jpg" width="100%"  alt="Photo of Keith Wan-Kee Ng.">
      <h2>Dr Keith Wan-Kee Ng</h2>
      <h3>2011</h3>
      <blockquote><a href="https://multisearch.mq.edu.au/permalink/61MACQUARIE_INST/1c87tk9/alma99193011010802171">Pressure-dependent vascular function and structure in the rat aorta</a></blockquote>
    </td>
  </tr>
</table>

<h2>Masters of Research graduates</h2>
<table>
  <tr>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_saja_alqasas_gs.jpg" width="100%"  alt="Photo of Saja Alqasas.">
      <h2>Saja Alqasas</h2>
      <h3>2021</h3>
      <blockquote>Standardisation of Respiratory Sinus Arrhythmia testing in the context of autonomic function testing</blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_james_cox_gs.jpg" width="100%"  alt="Photo of James Cox.">
      <h2>James Cox</h2>
      <h3>2019</h3>
      <blockquote>An investigation of underlying biophysical mechanisms in the use of pulse wave velocity for cuffless measurement of blood pressure</blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_julio_lara_hernandez_gs.jpg" width="100%"  alt="Photo of Julio Antonio Lara Hernández.">
      <h2>Julio Antonio Lara Hernández</h2>
      <h3>2018</h3>
      <blockquote>An investigation of systemic haemodynamic correlates of intracranial pressure</blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_fatemeh_shirbani_gs.jpg" width="100%"  alt="Photo of Fatemeh Shirbani.">
      <h2>Fatemeh Shirbani</h2>
      <h3>2016</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1166554">Non-invasive characterization of cardiovascular autonomic dysfunction in multiple sclerosis</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_aarathi_venunadan_gs.jpg" width="100%"  alt="Photo of Aarathi Venunadan.">
      <h2>Aarathi Venunadan</h2>
      <h3>2015</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1089160">Regulation of arterial blood pressure: effects of arterial stiffness and respiration</a></blockquote>
    </td>
  <td width="16%" style="vertical-align:top">
    <img src="../images/people_sumudu_gangoda_gs.jpg" width="100%"  alt="Photo of Sumudu Gangoda.">
    <h2>Sumudu Gangoda</h2>
    <h3>2014</h3>
    <blockquote><a href="http://hdl.handle.net/1959.14/1050556">High blood pressure and cyclic stretch after cerebral amyloid deposition and endothelial function</a></blockquote>
  </td>
  </tr>
  <tr>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Harish Ramachandran.">
      <h2>Harish Ramachandran</h2>
      <h3>2015</h3>
      <blockquote><a href="http://hdl.handle.net/1959.14/1077909">Investigation of heart rate variability and baroreceptor sensitivity in rats</a></blockquote>
    </td>
    <td width="16%" style="vertical-align:top">
      <img src="../images/people_wendy_liu_gs.jpg" width="100%"  alt="Photo of Wendy Liu.">
      <h2>Wendy Liu</h2>
      <h3>2008, UNSW</h3>
      <blockquote><a href="https://multisearch.mq.edu.au/permalink/61MACQUARIE_INST/1c87tk9/alma99197992810802171">Quantification of response of aortic pulse wave velocity to changes in systemic arterial pressure following infusion of vasoactive agents in rat.</a></blockquote>
    </td>
  </tr>
</table>

<h2>Undergraduate honours projects</h2>
<p>Ayman Al Qahtani (2014); George Lindesay (2010).</p>

<h2>Research rotation (undergraduate and postgraduate) experience</h2>
<p>Ahmad Al-Qadi (2019); Saja Alqasas (2020); Veronica Bakhoum (2019); Sean Barton; James Cox; Joyce El Haddad; Angela Godinez (2018); Benjamin Grubba (2020); Taeyoon Lee (2019); Kyrollos Louka (2020); Olivia Mitchell (2020); Aidan Moriarty (2021S1/S2); Sarah Ozer (2020); Emma Rhall (2020); Aadil Syed (2020); Monique Van Acquoy; Arran Weir (2019).</p>

<h2>Professional and Community Engagement (PACE) projects</h2>
<h3>In collaboration with Fledge Innovation Labs and with Cardiex AtCor Medical</h3>
<p>Amelia Smart (2021), Jamie Barnacoat (2021), Chloe Newman (2021), Joshua Baker (2021), Might Nasrabadi (2021), Pranita Kumar (2021), Ravindu Kahawita (2021), Rawan Hajder Mhawe (2021), Thomas Courtney-Stubbs (2021), Tom Murphy (2021); Annica Roberts (2021); Aleksia Grbic (2021); Dylan Lim (2021); Hannah Sexton (2021); Jack Roser (2021); Joseph Iannella (2021); Olivia Otto (2021); Taylah Scutts (2021); Hannah Belikoff (2020); Maggie Chan (2020); Benjamin Cook (2020); Jack Davenport (2020); Maddison Gardoni (2020); Gisele Bentley (2020); Samuel Hamilton (2020); Joanne Juma'a (2020); Jonathan Lewis (2020); Jeong Lim (2020); Brock McMillan (2020); Olivia Mitchell (2020); Elicia Petschack (2020); Emma Rhall (2020); Alireza Sadegholvad (2020); Andrew Turner (2020).</p>

<h3>FMHHS Bachelor Clinical Science projects</h3>
<p>Afra Ishmam (2021), Caitlin Apcar (2021), Himradri Sagara (2021), Jackson Barkway (2021), Mark Achmar (2021), Matthew Zhang (2021), Nicholas Ryan (2021), Priscilla Chu (2021), Victor Hoang (2021), Xin Zhang (2021).</p>
 