---
layout: archive
title: "Team"
permalink: /team/
author_profile: true
---

{% include base_path %}


{% for post in site.team %}
  {% include archive-single.html %}
{% endfor %}

<table>
  <tr style="vertical-align:top">
    <td width="25%" style="vertical-align:top">
        <img src="../images/people_mark_butlin_gs.jpg" width="100%" alt="Photo of Mark Butlin.">
        <h2><a href="https://researchers.mq.edu.au/en/persons/mark-butlin">Dr Mark Butlin</a></h2>
        <h3>Research Head</h3>
        <p><a href="https://researchers.mq.edu.au/en/persons/mark-butlin/publications/">Publications</a></p>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_isabella_tan_gs.jpg" width="100%"  alt="Photo of Isabella Tan.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/isabella-tan">Dr Isabella Tan</a></h2>
      <h3>CardieX AtCor Medical sponsored Postdoctoral Research Fellow</h3>
      <p><a href="https://researchers.mq.edu.au/en/persons/isabella-tan/publications/">Publications</a></p>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_karen_peebles_gs.jpg" width="100%"  alt="Photo of Karen Peebles.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/karen-peebles">Dr Karen Peebles</a></h2>
      <h3></h3>
      <p><a href="https://researchers.mq.edu.au/en/persons/karen-peebles/publications/">Publications</a></p>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_alberto_avolio_gs.jpg" width="100%"  alt="Photo of Alberto Avolio.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/alberto-avolio">Professor Emeritus Alberto Avolio</a></h2>
      <h3>Research Advisor</h3>
      <p><a href="https://researchers.mq.edu.au/en/persons/alberto-avolio/publications/">Publications</a></p>
    </td>
</tr>
<tr style="vertical-align:top">
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_edward_barin_gs.jpg" width="100%"  alt="Photo of Edward Barin.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/edward-barin">Clinical Associate Professor Edward Barin</a></h2>
      <h3>Clinical Advisor</h3>
      <p><a href="https://researchers.mq.edu.au/en/persons/edward-barin/publications/">Publications</a></p>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Bhargava Veppala.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/avadhanam-bhargava-rama-lakshmi">Bhargava Veppala</a></h2>
      <h3>PhD candidate</h3>
      <blockquote>Interaction of Cellular Processes and the Extracellular Matrix in Relation to Mechanical Properties of Blood Vessels</blockquote></td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_fatemeh_shirbani_gs.jpg" width="100%"  alt="Photo of Fatemeh Shirbani.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/fatemeh-shirbani">Fatemeh Shirbani</a></h2>
      <h3>PhD candidate</h3>
      <blockquote>Measurement of blood pressure by imaged-based photoplethysmography</blockquote></td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_gisele_bentley_gs.jpg" width="100%"  alt="Photo of Gisele Bentley.">
      <h2>Gisele Bentley</h2>
      <h3>Masters of Research candidate</h3>
      <blockquote>Comparison of active stand and tilt table testing for diagnosis of orthostatic hypotension and tachycardia syndrome</blockquote>
    </td>
</tr>
<tr style="vertical-align:top">
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_james_cox_gs.jpg" width="100%"  alt="Photo of James Cox.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/james-cox-2">James Cox</a></h2>
      <h3>PhD candidate, scholarship part sponsored by Cardiex AtCor Medical</h3>
      <blockquote>An investigation of non-invasive and cuffless approaches for the estimation of blood pressure</blockquote></td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_kathryn_busch_gs.jpg" width="100%"  alt="Photo of Kathryn Busch.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/kathryn-busch">Kathryn Busch</a></h2>
      <h3>PhD candidate</h3>
      <blockquote>The utilisation of transcranial Doppler and non-invasive pressure measurement to assess cerebrovascular haemodynamic alterations during arterio-venous malformation</blockquote>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Kyrollos Louka.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/kyrollos-louka">Kyrollos Louka</a></h2>
      <h3>Masters of Research candidate</h3>
      <blockquote>Personalised multi-point calibration curves obtained by controlled hydrostatic changes of the upper limb for cuffless estimation of blood pressure from pulse transit time</blockquote>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_stephen_woodford_gs.jpg" width="100%"  alt="Photo of Stephen Woordford.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/stephen-woodford">Dr Stephen Woodford</a></h2>
      <h3>PhD candidate</h3>
      <blockquote>Cardiovascular Regulation in Human Aging</blockquote></td>
</tr>
<tr style="vertical-align:top">
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_vaidehi_desai_gs.jpg" width="100%"  alt="Photo of Vaidehi Desai.">
      <h2>Vaidehi Desai</h2>
      <h3>Masters of Research candidate</h3>
      <blockquote>Non-invasive baroreceptor function measurement in humans and the interaction with large artery stiffness</blockquote>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Madison Kane.">
      <h2>Madison Kane</h2>
      <h3>Masters of Research Research Rotation</h3>
      <blockquote>Comparison of episodic and continuous blood pressure and heart rate recording in orthostatic intolerance testing</blockquote>
    </td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_farhan_ahmed_gs.jpg" width="100%"  alt="Photo of Farhan Ahmed.">
      <h2>Farhan Ahmed</h2>
      <h3>Bachelor of Clinical Science Research Rotation</h3>
      <blockquote>Effect of exercise on non-invasively assessed baroreceptor function</blockquote></td>
    <td width="25%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Janani Viswanathan.">
      <h2>Janani Viswanathan</h2>
      <h3>Bachelor of Clinical Science Research Rotation</h3>
      <blockquote>Cardiovascular response to induced bilateral leg ischaemia in the upright position</blockquote></td>
</tr>
</table>

<h2>Honorary appointments</h2>
<table>
  <tr>
    <td width="20%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Bart Spronck.">
      <h2><a href="https://cris.maastrichtuniversity.nl/en/persons/bart-spronck">Assistant Professor Bart Spronck</a></h2>
      <h3>Maastricht University.</h3>
    </td>
    <td width="20%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Anastasia Mihailidou.">
      <h2><a href="https://www.sydney.edu.au/s/search.html?collection=Usyd&query=anastasia+mihailidou&f.Content+type%7Cx=">Dr Anastasia Mihailidou</a></h2>
      <h3>Kolling Institute, Royal North Shore Hospital, Sydney.</h3>
    </td>
    <td width="20%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Audrey Adji.">
      <h2><a href="https://www.victorchang.edu.au/about-us/our-scientists/dr-audrey-adji">Dr Audrey Adji</a></h2>
      <h3>Victor Chang Cardiac Research Institute, Sydney.</h3>
    </td>
    <td width="20%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Junli Zou.">
      <h2><a href="https://www.researchgate.net/scientific-contributions/Junli-Zuo-2013757643">Dr Junli Zou</a></h2>
      <h3>Ruijin Hospital, China.</h3>
    </td>
    <td width="20%" style="vertical-align:top">
      <img src="../images/people_icon.png" width="100%"  alt="Photo of Martin Turner.">
      <h2><a href="https://researchers.mq.edu.au/en/persons/martin-turner">Dr Martin Turner</a></h2>
      <h3>Biccard Measurement & Metrology.</h3>
    </td>
  </tr>
</table>